img{
	max-width: 125px;
	padding: 10px;
}

#countdown{
	text-align: center;
}

.cartInfo {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2 {
   position: absolute;
   top: 9px;
   left: 80px;
   width: 100%;
}
