img{
	width: 150px;
	height: 150px;
    padding: 5px;
}

#ad01,#ad02,#ad03{
	max-width: 150px;
}

#countdown{
	text-align: center;
}

.cartInfo {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2 {
   position: absolute;
   top: 9px;
   left: 80px;
   width: 100%;
}
